# run on container based infrastructure
sudo: false

language: node_js
node_js:
  - "5"

cache:
  directories:
    - "./node_modules"

branches:
  except:
    - "/^v[0-9]/" # dont build tags separately as they are build anyway for the push

install:
  - npm prune
  - npm install

script:
  - npm run eslint
  - npm test

deploy:
  provider: npm
  email: npm@blogfoster.com
  api_key:
    secure: "Iu8KUexra9gxWIMA36lo5Gpt5r+w34mi/7slFsJ39ov8fG0ow79inAeRIlNWZvkJNjrOphW7zkXgLSWcSDOBPSaExVaxzgTr3smHykN24orXLaZbkhU2866TNgAAs6RHxXXEh5OJ0E33EGFVwbJgIEPDFM/KNEeGekym1S3JQdVynIaC4c/Qy61aefW3MVEnqVLbYyVK8lzg2U3OdYOnJCdWZys3t8xVd+5ztyEGhrbjoDdMosUk7e1SVnjcpvZkhWZY8SUE6oMa7VcmgANchD8xmdg/SqA1jEBlRQ5szQ5P+YIwIhJ1z4BwH4+es+CAKVoSkL6Ow2HJ2+Jh61U6WvGjrZ+F4A/Xytp0aLxnJYiC5DIJgRBAdk1dS/cU20iIUtSkkytFIY51Nl5BuRXgcLyBUHzwPfdB9EZoxOs52qkIM89Ee+uAacaOiX+YHDiIoSXJEHidnaxdcsJb/klQMBwkrYr5TEu9Rcd/jMOjYPzphhpZ5NpvICTkIDVb3ATBuss0hRGjTHoLmmJhos+oSJ/KHSUYVVEN5lLrmAlQZd90HnF/DnjA9wz/1sbEoa3Djlb84wOrHTfTA/Xa1p2ofXTgTc4+3I9dtxovbq6QSZbOo4ESQ6O3P/luLzySOHo2/1GEPGX0+kWTWLcLQThgC85XZaTdn8PF82uPt78XtRo="
  wait-until-deployed: true
  skip_cleanup: true
  on:
    repo: blogfoster/hapi-error-logger
    branch: master
    condition: "$(git describe --exact-match HEAD)" # only deploy if the commit is referenced by a tag as well

notifications:
  slack:
    rooms:
      - secure: "HTrlYDtoPydGGBl3eSIZGErVFge5BBwseywaQBpqcFpi2iMU/WC38v0jgCgVOPWOy4sucni47DHcmcxH+scBzD/fMlHUj5CScUXKbzV1Hse5fXXRQyYH0ShsxFWFI5lIrBO5+7O24r7Tj2k77WFzP/P2zVYTc8JwFgXM054YLZiJxgeGsfs110Q1sNDJM5MHJhKxKE4IHn3hGuQjhF2Grb55UBp3kcBsw7y8VskN2t18tnueYSLY0OWRW8iUapvGZZC1S6Sl4QIMWgEM7dw9vKceyqlz4cvjOryjvvVRiOu024sgCodj9Xw96YARI7Z1A7ytj35IEQ/rEIo3RGiZ4IexGQXhCXRL8IWc8bbfeRj9M5mBqjOhSOkYBuTeUaXi4k8xxuqEJ8Vfna/PF2wlWM8S7JgnCext5ciE4PVXiYD0+Z3ht5UUE6xAdNgLdzQC3EQ0iOjczWDE/veYaBOyirKYD0Lrgewn0gs6b+BResesyalvMvm0Kuo5o4WpSHubWUGzBNXMBfe8dcOSClUmuAWXI2F02W2c2BW7NHd/MvhNbmprpNNmx8GKrc7m+XqH5h3Z7Pp2pEzx67/y5OXPe/PK/iBs4D3w30nOsX/ah/21NQV7+XF4Yf0VXESlww1PoH4nmK30I57xoduTg4tRTgydRwS9wTMcASv/4mbno+g="
    on_pull_requests: false
